<!DOCTYPE html>
<html lang = "en">
<head> 
	<title> Website </title>
</head>

<body> 
	<header>
		<h1> Information about you! </h1>
	</header>
	<h3> User number: {{{info.id}}} </h3>
	<h3> Username: {{{info.username}}} </h3>
	<h3> First name: {{{info.firstName}}} </h3>
	<h3> Last name: {{{info.lastName}}} </h3>
	<h3> Profession: {{{info.profession}}} </h3>
	<h3> Bio: {{{info.bio}}} </h3>

<a href="/logout" action> Log out  </a>

</body>
