<nav>
    <ul>
        <li><a class="selected" href="/dashboard/journal" action>Journal</a></li>
        <li><a href="/dashboard/log">Log</a></li>
        <li><a href="/dashboard" action>Find Fish!</a></li>
        <li><a href="/dashboard/forum">Forum</a></li>
        <li><a href="/logout" action>Log out</a></li>
    </ul>
</nav>
<div class="journal_container">
    <h1>{{name}}'s Fish Journal</h1>
    <ul>
        {{#each sessions}}
        <li>
            <div class="journal_entry">
                <p>Date: {{dateTime}}</p>
                <p>Location: {{location}}</p>
                <p>Fish Caught: {{fish.quantity}}</p>
                <p>Effective Lures: {{fish.lures}}</p>
                <p>Fish Types: {{fish.fishTypeId}}</p>
                <p>Weather: {{weather.condition}}, {{weather.temp}}&deg;F</p>
                <p>Wind Speed: {{weather.wind_speed}}</p>
                <p>Ocean Conditions: {{water_conditions.tide}} Tide, {{water_conditions.waveheight}}ft Waves</p>
                <p>Notable Catches: {{notableCatches}}</p>
                {{#if ../showDelete}}
                <form action="/action/delete/{{_id}}" method="POST">
                    <button type="submit">Delete</button>
                </form>
                {{/if}}
            </div>
        </li>
        {{/each}}
    </ul>
</div>